@media screen and (max-width:992px)
{   
    
    .fix-center{
        width: 90%;
    }
    .banner{
        height: 92vh;;
    }
    .banner .heading{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-top: 37px;
    }
    .heading h1::after{
        left: 50%;
        transform: translateX(-50%);
    }
    .banner .font-icons a{
        display: inline-block;
        padding: 0px 32px;
    }
    
    .banner .font-icons{
        text-align: center;
        margin: 170px auto;
    }

    .name h3 {
        margin: 0 auto;
        font-size: 30px;
    }

    .name h3::before{
        left: 197px;
        top: -2px;
    }

    .introduction .description{
        padding-left: 0px;
        margin: 30px auto;

    }
    .introduction .description p{
      width: 100%;
      max-width: 800px;
   }
   .portfolio {
    margin: 100px auto
   }
   .skills h1{
    margin:40px auto;
    text-align: center;
   }
   .skills .skill-list{
       margin: 40px auto;
       text-align: center;
   }
   .display .row{
    display: block;
   }
 .display .vertical-line::after{
    display: none;
 }

 .display .image{
    margin: 0 auto;
 }
 .display .number{
    margin: 0 auto;
    max-width: 230px
 }

 .multi-images h1 {
    max-width: 370px;
 }
 .multi-images .square-image {
    height: 440px;
    margin: 0 auto;
 }
 .multi-images .rectangle-image {
    height: 278px;
    margin: 0 auto;
 }

 footer .left{
     text-align: center;
     margin-bottom: 16px;
 }
 
 footer .right .telephone-number{
    text-align: center;
 }
 footer .right .email{
    text-align: center;

 }
 footer .right .address{
    text-align: center;
 }
 footer .left p b::before {
    display: none;
}
footer .left p b::after {
    display: none;
    
}

}
  

@media screen and (max-width:991px){
    contact .split-left h4 {
        padding-left: 20px;
        text-align: center;
    }
    
    contact .split-right h4{
        text-align: center;
        padding-left: 30px;
    }

    .contact .split-left h4 {
      max-width: 310px;
      margin: 0 auto;
      padding-left: 60px;
    }
    .contact .split-right h4 {
        max-width: 300px;
         margin: 0 auto;
         margin-top: 20px;
         padding-left: 50px;
    }
    
      
}

@media screen and (max-width:900px){
    .name h3::before{
        left: 140px;
        top: 3px;
    }

    .skills .skill-list{
        display: block;
        margin: auto;
    }
    
}
@media screen and (max-width:768px){
    .introduction{
        margin-top: -51px;
    }
    .skills{
        margin-top: -162px
    }
    .multi-images h1 {
       
            margin-top: -23px;
            margin: 0px auto
    }
    .multi-images .square-image {
       margin:70px auto;
    }
    .multi-images .rectangle-image {
        margin:70px auto;
     }
     .form-box .fit-center {
        
        max-width: 534px;
    }
}

@media screen and (max-width:775px){
    .name h3::before{
        display: none;
    }
    .skills h1::before {
        display: none;
    }
    .form-box h1::before {
        display: none;
    }
    .multi-images h1::before {
        display: none;
    }
}

@media screen and (max-width:620px){
    .multi-images .square-image {
        max-width: 415px;
    }
    .multi-images .rectangle-image {
        max-width: 420px;
    }

    .multi-images h6::after{
        left: 140px;
        bottom: 6px;
        
    }
    .multi-images h6::before{
        left: 145px;
        bottom: 6px;
    }

}

@media screen and (max-width:545px){
    .form-box .fit-center {
        max-width: 498px;
    }
}

@media screen and (max-width:500px){
    .display .image {
        max-width: 334px;
    }

    .multi-images .square-image {
        max-width: 300px;
    }
    .multi-images .rectangle-image {
        max-width: 300px;
    }

    .multi-images h6::after{
        left: 85px;
        bottom: 6px;
        
    }
    .multi-images h6::before{
        left: 90px;
        bottom: 6px;
    }
    .form-box .fit-center {
        max-width: 439px;
    }
}


@media screen and (max-width:441px)
{
    .banner{
        height: 70vh;;
    }
    .banner .font-icons a{
        padding: 0px 20px;
    }

    .banner .font-icons{
      
        margin: 97px auto;
    }

    .form-box .fit-center {
        max-width: 379px;
    }

    
}
@media screen and (max-width:389px){
    .banner .heading {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-top: 6px;
    }
    .banner .font-icons {
        margin: 58px auto;
    }


    .multi-images h6::after{
        left: 50px;
        bottom: 6px;
        
    }
    .multi-images h6::before{
        left: 55px;
        bottom: 6px;
    }
    .form-box .fit-center {
        max-width: 349px;
    }

}

