@media screen and (max-width:992px)
{   
    
    .fix-center{
        width: 90%;
    }
    .banner{
        height: 92vh;;
    }
    .banner .heading{
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-top: 37px;
    }
    .heading h1::after{
        left: 50%;
        transform: translateX(-50%);
    }
    .banner .font-icons a{
        display: inline-block;
        padding: 0px 32px;
    }
    
    .banner .font-icons{
        text-align: center;
        margin: 170px auto;
    }

    .name h3 {
        margin: 0 auto;
        font-size: 30px;
    }

    .name h3::before{
        left: 197px;
        top: -2px;
    }

    .introduction .description{
        padding-left: 0px;
        margin: 30px auto;

    }
    .introduction .description p{
      width: 100%;
      max-width: 800px;
   }
   .portfolio {
    margin: 100px auto
    
}
.skills h1{
    margin: 40px auto;
    
}

    
}

@media screen and (max-width:900px){
    .name h3::before{
        left: 140px;
        top: 3px;
    }

    .skills .skill-list{
        display: block;
        margin: auto;
    }
    
}

@media screen and (max-width:775px){
    .name h3::before{
        display: none;
    }
    .skills h1::before {
        display: none;
    }

}


@media screen and (max-width:441px)
{
    .banner{
        height: 70vh;;
    }
    .banner .font-icons a{
        padding: 0px 20px;
    }

    .banner .font-icons{
      
        margin: 97px auto;
    }
    
}
@media screen and (max-width:389px){
    .banner .heading {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding-top: 6px;
    }
    .banner .font-icons {
        margin: 58px auto;
    }

}

