*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif ;
}

p,a{
    font-family: ;
}

a{
   text-decoration: none;
}

.fix-center{
    max-width: 1200px;
    margin: 0 auto;
}

.fit-center{
    max-width: 700px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    width:100%;
}

header{
    background-color: #202124;
    overflow: auto;
    padding-top: 20px;
}

header .logo{
    max-width: 150px;
    float: left;
    
}

header .hamburger{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: right;
}

header .hamburger span{
    background-color: white;
    display: inline-block;
    width: 5px;
    height: 6px;
    margin-left: 3px;
    margin-top: 16px;
}

.banner{
    background-color: #202124;
    height: 92vh;
    position: relative;
    padding: 50px 0px;
}

.heading{
    color: white;
    max-width: 420px;
    padding-top: 100px;
   
}

.heading h1{
    font-family:  'Work Sans', sans-serif;
    position: relative;
    padding-bottom: 20px;
}
.heading h6{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}
.heading h1::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 5px;
    background-color: #008B8B;
}
.font-icons{
    margin-top: 10px;
    text-align: right;

}
.font-icons a{
    color: white;
   display: block;
   padding: 20px 0px;
   
}

.introduction{
    padding: 80px 0;
    padding-top: 150px;
}

.name h3{
    max-width: 300px;
    line-height: 40px;
    margin-left: auto;
    margin-bottom: 60px;
    margin-bottom: 40px;
    margin-right: 50px;
}
.name h3 .name-color{
    color: #008B8B;
}
.name h3 .dot-color{
    color: red;
}

.introduction .name .grey-image{
    padding-top: 50px;
}

.name h3::before{
    content: ' ';
    width: 160px;
    height: 1px;
    position: absolute;
    left: 120px;
    top: -20px;
    background-color: red;
    transform: rotate(-35deg);
}

.description p{
     max-width: 700px;
}

.two-lines{
    color: red;
    font-size: 12px;
    font-weight: 700;
    position: relative;
   padding-left: 15px;
}

.two-lines::after{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1.2px;
    left: -5px;
    bottom: 6px;
    background-color: red;
    transform: rotate(-111deg);
    
}
.two-lines::before{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1.2px;
    left: 0px;
    bottom: 6px;
    background-color: red;
    transform: rotate(-111deg);
}

.portfolio a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding-top: 30px ;
    line-height: 2px;
    color: white;
    padding-left: 100px;
    border-left: solid 5px white;
}

.portfolio{
    background-color: red;
    width: 280px;
    height: 100px;
    margin-top: 120px;
    margin-left: -90px;

}