*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif ;
}

p,a{
    font-family: sans-serif;
}

a{
   text-decoration: none;
}

.fix-center{
    max-width: 1200px;
    margin: 0 auto;
}

.fit-center{
    max-width: 900px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    width:100%;
}

header{
    background-color: #202124;
    overflow: auto;
    padding-top: 20px;
}

header .logo{
    max-width: 150px;
    float: left;
    
}

header .hamburger{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: right;
}

header .hamburger span{
    background-color: white;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 3px;
    margin-top: 17px;
    border-radius: 50%;
}

.banner{
    background-color: #202124;
    height: 92vh;
    position: relative;
    padding: 50px 0px;
    padding-top: 100px;
}

.heading{
    color: white;
    padding-top: 100px;
   
}

.heading h1{
    font-family:  'Work Sans', sans-serif;
    position: relative;
    padding-bottom: 20px;
    font-size: 50px;
}
.heading h6{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 20px;
}
.heading h1::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 5px;
    background-color: #008B8B;
}
.font-icons{
    margin-top: 35px;
    text-align: right;

}
.font-icons a{
    color: white;
   display: block;
   padding: 20px 0px;
   
}

.introduction{
    padding: 80px 0;
    padding-top: 150px;
}

.name h3{
    max-width: 300px;
    line-height: 40px;
    margin-left: auto;
    margin-bottom: 60px;
    margin-bottom: 40px;
    margin-right: 50px;
}
.name h3 .name-color{
    color: #008B8B;
}
.name h3 .dot-color{
    color: red;
}

.introduction .name .grey-image{
    padding-top: 50px;
}

.name h3::before{
    content: ' ';
    width: 160px;
    height: 1px;
    position: absolute;
    left: 120px;
    top: -20px;
    background-color: red;
    transform: rotate(-35deg);
}

.description p{
     max-width: 700px;
}

.two-lines{
    color: red;
    font-size: 12px;
    font-weight: 700;
    position: relative;
   padding-left: 15px;
}

.two-lines::after{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1.2px;
    left: -5px;
    bottom: 6px;
    background-color: red;
    transform: rotate(-111deg);
    
}
.two-lines::before{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1.2px;
    left: 0px;
    bottom: 6px;
    background-color: red;
    transform: rotate(-111deg);
}

.portfolio a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding-top: 30px ;
    line-height: 2px;
    color: white;
    padding-left: 100px;
}

.portfolio{
    background-color: red;
    width: 280px;
    height: 100px;
    margin-top: 120px;
    margin-left: -90px;
    border-left: solid 3px white;

}
.skills{
    padding: 50px 0px;
}
.skills h1{
    margin-bottom: 60px ;
    max-width: 300px;
    margin-left: auto;
    font-size: 25px;
    position: relative;
    
}
.skills h1 span{
    color: red;
}

.skills h1::before{
    content: ' ';
    position: absolute;
    width: 150px;
    height: 1px;
    right: 90px;
    bottom: 50px;
    background-color: red;
    transform: rotate(38deg);
}

.skills img{
    margin-bottom: 30px;
    max-width: 59px; 
}
.skills p{
    width: 210px;
    height: 150px;
    font-size: 12px;
    line-height: 25px;
}
.skills .skill-list{
    max-width: 251px;
    width: 100%;
    display: inline-block;
    margin: 20px 23px;
}

.display{
    padding-bottom: 100px ;
}
.display .image{
    width: 400px;
    height: 200px;
}

.display .number{
 padding: 30px 70px;
 position: relative;

 
}
.display h6{
    color: red;
    font-size: 13px;
    margin-top: -10px;
    font-weight: 100;
}

.display .vertical-line::after{
    content: ' ';
    position: absolute;
    width: 150px;
    height: .8px;
    right: -70px;
    bottom: 120px;
    background-color: silver;
    transform: rotate(90deg);
}

.multi-images h1{
    max-width: 600px;
    padding-left: 70px;
    font-size: 30px;
    position: relative;
}

.multi-images h1::before{
    content: ' ';
    position: absolute;
    width: 150px;
    height: 1px;
    left: -30px;
    bottom: 50px;
    background-color: red;
    transform: rotate(-35deg);
}
.multi-images h1 .dot-color{
    color: red;
}
.multi-images .square-image{
    max-width: 500px;
    height: 400px;
    margin:60px 0px;
}

.multi-images .rectangle-image{
    max-width: 500px;
    height: 250px;
    margin: 40px 0px;
}


.multi-images h6{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    position: relative;
}
.multi-images h6::after{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1.5px;
    left: 145px;
    bottom: 6px;
    background-color: red;
    transform: rotate(-111deg);
    
}
.multi-images h6::before{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1.5px;
    left: 150px;
    bottom: 6px;
    background-color: red;
    transform: rotate(-111deg);
}
.multi-images h2{
    text-align: center;
    font-size: 25px;
    
}

.contact{
    margin: 50px auto;
    background-color: #c3e6eb;
    padding: 40px 0px;
  max-width: 1050px;
    border-left: solid 3px red;
    
    
}

.contact .text{
    text-align: center;

}
.contact h4{
    font-size: 22px;
}

.contact .split-left h4{
    margin-left: 250px;
}
/* .form-box{
    margin-left: 300px;
} */
.form-box .fit-center{
    margin: 100px auto;
    border: solid 5px #48D1CC;
    max-width: 850px;
    height: 750px;
}

.form-box h1{
    text-align: center;
    padding-top: 140px;
    font-size: 30px;
    position: relative;
}


.form-box h1 .dot-color{
    color: red;
}

.form-box h1::before{
    content: ' ';
    position: absolute;
    width: 180px;
    height: 1px;
    left: 160px;
    bottom: 50px;
    background-color: red;
    transform: rotate(-35deg);
}
.form-box form{
    margin: 50px auto;
}
.form-box .form-wrap{
    max-width: 600px;
    margin: 0 auto;
}

.form-box form .half-input{
    width: 48%; 
}
.form-box form .form-group{
   padding-left: 120px;
   border: 0;
   border-bottom: 1px red;
}
.form-box form .form-group #name{
    border: 0;
    border-bottom: solid 1px red;
   
}
.form-box form .form-group #email{
    border: 0;
    border-bottom: solid 1px  #48D1CC ;
   
 }
.form-box form .form-group #subject{
    border: 0;
    border-bottom: solid 1px  #48D1CC ;
   
 }

.form-box form .form-group textarea{
    border: 0;
   border-bottom: solid 1px #48D1CC;
  
}

.form-box .button{
    background-color: red;
    max-width: 180px;
    height: 45px ;
    margin: 0 auto;

}
.form-box .button h6{
    color: #fff;
    font-size: 13px;
    padding-left: 45px;
    padding-top: 12px;
    position: relative;
}
.form-box .button h6::before{
    content: ' ';
    position: absolute;
    width:10px;
    height: 1.2px;
    left: 30px;
    bottom: 5px;
    background-color: #fff;
    transform: rotate(60deg);
    
}

.form-box .button h6::after{
    content: ' ';
    position: absolute;
    width:10px;
    height: 1.2px;
    left: 25px;
    bottom: 5px;
    background-color: #fff;
    transform: rotate(60deg);
    
}
footer .fit-center{
    max-width: 700px;
    margin-bottom: 50px;

}

footer .left p{
    font-size: 25px;
    position: relative;
    padding-left: 10px;
}
footer .left p span{
    font-size: 15px;
}

footer .left p b::before{
   content: ' ';
   position: absolute;
   width: 20px;
   height: 1.2px;
   left: -15px;
   bottom: 20px;
   background-color: red;
   transform: rotate(-50deg);
}
footer .left p b::after{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 1.2px;
    left: -10px;
    bottom: 20px;
    background-color: red;
    transform: rotate(-50deg);
 }
 footer .left label{
     font-weight: 400;
 }

 footer .left .newsletter #newsletter-email{
     border: 0;
     border-bottom: solid 1px #48D1CC;
     width: 200px;

 }

 footer .right h6{
    color: #48D1CC;
 }

 footer .right .telephone-number{
     padding-left: 210px;
 }
 footer .right .email{
    padding-left: 130px;

 }
 footer .right .address{
    padding-left: 84px;
 }



